<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyp.erp.dao.SysResourceRoleMapper">
  <resultMap id="BaseResultMap" type="com.zyp.erp.domain.SysResourceRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="resource_id" jdbcType="INTEGER" property="resourceId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>

  <select id="listResource" resultType="com.zyp.erp.domain.SysResource">
    select
          r.`id`,
          r.`parent_id` as parentId,
          r.`name`,
          r.`url`,
          r.`icon`,
          r.`sort`,
          r.`resource_type` as resourceType,
          r.`app_type` as appType,
          r.`state`,
          r.`deleted`,
          r.`add_time` as addTime,
          r.`update_time` as updateTime,
          r.`remark`
    from sys_resource r
    INNER join sys_resource_role rr on rr.resource_id = r.id
    where r.app_type = #{appType}
    and rr.role_id = #{roleId}
    order by r.sort asc
  </select>

</mapper>